html, body {
  background-color: #0b071a;
  color: white;
  font-family: Arial, sans-serif;
  width: 350px;
  height: 450px;
  margin: 0;
  padding: 0;
  overflow: hidden;     /* block scrollbars */
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

#buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px; /* move buttons lower down */
  gap: 30px;
}

button {
  width: 80%;
  height: 60px;
  background-color: #4a3aff;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b5cff;
}

#results {
  margin-top: 20px;
  padding: 10px;
  overflow-y: auto;
  max-height: 400px;
}


.hover-popup {
  position: fixed;
  top: 120%;
  left: 0;
  background-color: #222;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  font-size: 10px;
  max-width: 300px;
  white-space: pre-wrap;
  z-index: 999;
  display: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
