<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>URL SAFETY CHECKER</h1>
        <form id="urlForm" action="/geturl" method="POST">
            <input type="text" name="url" placeholder="Enter URL" required />
            <button type="submit">Submit</button>
        </form>

        <% if (result) { %>
        <h2>Result</h2>
        <pre><%= JSON.stringify(result, null, 2) %></pre>
        <% } %>
    </body>
</html>
